body{
    color: rgb(201, 221, 238);
    background-color: rgb(97, 97, 251);
}
.heading{
    width: 80%;
    font-size: 25px;
}
.name_of_objects, #result_object_name, #result_object_accuracy{
    color: rgb(46, 46, 179);
}
#camera{
    border: 3px dotted black;
    width: 350px;
    height: 300px;
}
#result{
    border: 3px dotted navy;
    width: 350px;
    height: 300px;
}